---
layout: default
---
<div class="ui mini breadcrumb">
  <a class="section" href="/">Home</a>
  <div class="divider"> / </div>
  <div class="active section">{{ page.title }}</div>
</div>

<!-- Trayse Inventory Note -->
<div class="ui positive message">
  <i class="close icon"></i>
  <div class="header">
    Open source inventory solution now available!
  </div>
  <p>Make your life easy! Start your next inventory project with <a href="https://www.trayseinventory.com/">Trayse Inventory</a>, an open source inventory management solution built on the FileMaker platform.</p>
</div>
<!-- End Trayse Inventory Note -->

<h1 id="inventory-types">{{ page.title }}</h1>
<p>{{ page.created }}</p>
<p>{{ page.modified }}</p>

{{ content }}
