---
layout: default
---
    <div class="pageHeader">
        <h1>{{ site.title }}</h1>
    </div>
		
            <div class="siteIntro">
            {{ content }}
        </div>	

<!-- Webinar Note -->
<script>
$('.message .close')
  .on('click', function() {
    $(this)
      .closest('.message')
      .transition('fade')
    ;
  })
;
</script>

<div class="ui green message">
  <i class="close icon"></i>
  <div class="header">
    Free Webinar: Mon. Jul. 23 1:00pm ET (UTC -4)
  </div>
  <p>Learn how to set your item cost at <a href="https://www.youtube.com/watch?v=Cob8OJWkFu8">this free webinar by New Leaf Data, LLC</a>.</p>
</div>
<!-- End Webinar Note -->

<!-- FMIS Note -->
<!-- 
<script>
$('.message .close')
  .on('click', function() {
    $(this)
      .closest('.message')
      .transition('fade')
    ;
  })
;
</script>

<div class="ui positive message">
  <i class="close icon"></i>
  <div class="header">
    Free inventory starter solution now available!
  </div>
  <p>Make your life easy! Start your next inventory project with <a href="https://daniels-school-e66f.thinkific.com">FM Inventory Starter (FMIS)</a>.</p>
</div>
 -->
<!-- End FMIS Note -->


<div class="ui segment">        
        <h2>Articles</h2>
        <div class="ui four stackable cards">
            
    {% for article in site.articles %}
            <div class="card">
                <div class="content">
                    <div class="header">{% if article.collectiontitle %}{{ article.collectiontitle }}{% else %}{{ article.title }}{% endif %}</div>
                    <div class="description">{{ article.description }}</div>
                </div>                    
                    <a class="ui bottom attached blue button" type="button" href="{{ article.url }}">
                        <i class="caret right icon"></i>
                        Read More
                    </a>
            </div>
    {% endfor %}
        </div>
</div>	
	<!-- end Articles -->

<div class="ui segment">		
		<h2>Files</h2>
        <div class="ui four stackable cards">
            
    {% for file in site.files %}
            <div class="card">
                <div class="content">
                    <div class="header">{% if file.collectiontitle %}{{ file.collectiontitle }}{% else %}{{ file.title }}{% endif %}</div>
                    <div class="description">{{ file.description }}</div>
                </div>                    
                    <a class="ui bottom attached orange button" type="button" href="{{ file.url }}">
                        <i class="caret right icon"></i>
                        Read More
                    </a>
            </div>
    {% endfor %}
            
            
	</div>
</div>
		<!-- end Files -->

<div class="ui segment">		
	<h2>Store</h2>
	<p>All products have a <strong>15 day, money back guarantee</strong>. Not happy with the product?  Just let me know and I'll refund your money, no questions asked.  (Well, I'll probably ask you how the product could be better!).  <strong>FileMaker Inventory Resource members receive a 25% discount</strong> on products.  If you'd like to receive a 25% discount as well as links to the free demo files, alerts for new articles, and a monthly newsletter, <strong>fill out the "Updates and Downloads"</strong> form below.
        <div class="ui four stackable cards">
            <div class="card">
				
                <div class="content">
                    <div class="header">Modifiable Inventory Data Model - $39</div>
                    <div class="description"><p>No need to start your inventory design from scratch! The modifiable data model allows you to edit, add, or delete the structural model of your database before you start to build. This data model comes in Visio, Omnigraffle, and SVG formats.</p>

			<p>The SVG file can be opened and modified in many PC and Mac drawing applications. The Microsoft Visio and Omnigraffle are required for the other two formats.</p>
			<p><strong>Note that a free version of this file with fewer features is available for downlowd.</strong>  Sign up for Updates and Downloads in the section below to receive a link to all the free files on FileMaker Inventory Resources.</p>
					</div>
                </div>                    
                    <a class="ui bottom attached green button" type="button" href="https://gumroad.com/l/XNoK">
                        <i class="caret right icon"></i>
                        Learn More
                    </a>
			</div>
				
			<div class="card">
                <div class="content">
                    <div class="header">Layout Mockups - $112</div>
                    <div class="description"><p>Drawing the layouts prior to creating them in FileMaker Pro saves time. Mockup tools help quickly create a visualization of the database layouts and provide a great deal of flexibility to quickly modify and test new ideas.</p>	

					<p>Mockups for Company, Contact, Item, Pick, Purchase Order, Receipt, Sales Order, Transaction, and Transfer. The collection includes 70 Files.</p>

					<p>Layout mockups are created in Balsamiq Mockups and include the original file as well as PDF, JPG, and JSON.</p>
					</div>
                </div>                    
                    <a class="ui bottom attached green button" type="button" href="https://gumroad.com/l/IRStq">
                        <i class="caret right icon"></i>
                        Learn More
                    </a>
			</div>
				
			<div class="card">
                <div class="content">
                    <div class="header">FileMaker Pro Inventory Starter Kit - $379</div>
                    <div class="description">The FileMaker Pro Inventory Starter Kit contains the following files:
						<ul>
							<li>Modifiable Data Model</li>
							<li>Layout Mockups</li>
							<li>FileMaker Pro starter file with the essential tables and fields for an inventory solution</li>
							<li>NLD Grids (a FileMaker Pro file) for designing layouts</li>
						</ul>
					</div>
                </div>                    
                    <a class="ui bottom attached green button" type="button" href="https://gumroad.com/l/jiphP">
                        <i class="caret right icon"></i>
                        Learn More
                    </a>
			</div>
			
			<div class="card">
                <div class="content">
                    <div class="header">B.O.M. Tree Pro - $199</div>
                    <div class="description">The Bill of Materials tree allows users to see all levels of required materials for a manufactured part.  The Pro version includes:
						<ul>
							<li>Quantity Requested</li>
							<li>Lead Times (for the item and another lead time for its WIP/Raw Materials)</li>
							<li>Need to Fulfill (NTF) quantity</li>
							<li>Substitutions within the tree for a single line or all instances of a particular item</li>
							<li>Save BOM trees</li>
						</ul>
					</div>
                </div>
				
					<p><strong>Note that a free version of this file with fewer features is available for downlowd.</strong>  Sign up for Updates and Downloads in the section below to receive a link to all the free files on FileMaker Inventory Resources.</p>
			    
                    <a class="ui bottom attached green button" type="button" href="https://gumroad.com/l/JvEE">
                        <i class="caret right icon"></i>
                        Learn More
                    </a>
			</div>	
		<!-- end Store -->
		
<!-- Add to email list -->
<div class="ui segment">	
	<script async id="_ck_399332" src="https://forms.convertkit.com/399332?v=7"></script>
</div>

</div>
	
