---
layout: default
---
    <div class="pageHeader">
        <h1>{{ site.title }}</h1>
    </div>
		
            <div class="siteIntro">
            {{ content }}
        </div>	

<!-- Ko-fi button -->
<script type='text/javascript' src='https://ko-fi.com/widgets/widget_2.js'></script><script type='text/javascript'>kofiwidget2.init('Support Me on Ko-fi', '#46b798', 'O5O5RMCB');kofiwidget2.draw();</script> 
<!-- end Ko-fi button -->

<!-- Add to email list -->
<div class="ui segment">	
	<script async id="_ck_399332" src="https://forms.convertkit.com/399332?v=7"></script>
</div>


<div class="ui segment">        
        <h2>Articles</h2>
        <div class="ui four stackable cards">
            
    {% for article in site.articles %}
            <div class="card">
                <div class="content">
                    <div class="header">{% if article.collectiontitle %}{{ article.collectiontitle }}{% else %}{{ article.title }}{% endif %}</div>
                    <div class="description">{{ article.description }}</div>
                </div>                    
                    <a class="ui bottom attached blue button" type="button" href="{{ article.url }}">
                        <i class="caret right icon"></i>
                        Read More
                    </a>
            </div>
    {% endfor %}
        </div>
</div>	
	<!-- end Articles -->

<div class="ui segment">		
		<h2>Files</h2>
        <div class="ui four stackable cards">
            
    {% for file in site.files %}
            <div class="card">
                <div class="content">
                    <div class="header">{% if file.collectiontitle %}{{ file.collectiontitle }}{% else %}{{ file.title }}{% endif %}</div>
                    <div class="description">{{ file.description }}</div>
                </div>                    
                    <a class="ui bottom attached orange button" type="button" href="{{ file.url }}">
                        <i class="caret right icon"></i>
                        Read More
                    </a>
            </div>
    {% endfor %}
            
            
	</div>
</div>
		<!-- end Files -->
		
<!-- Add to email list -->
<div class="ui segment">	
	<script async id="_ck_399332" src="https://forms.convertkit.com/399332?v=7"></script>
</div>

</div>
	
